<footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1;">
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="/">Job Offer Worldwide</a>
    </div>
</footer>