
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="/">
        <img class="navbar__img" src="/assets/Job-Offer-t.png" alt="job-offer-logo">
    </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    {{#unless user}}
    <li class="nav-item">
        <a class="nav-link" href="/auth/register">Registrate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
    </li>
    {{/unless}}
        {{#if user}}
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0"action="/auth/logout" method="POST">
                <label for="logout" class="form-control mr-sm-2">Bienvenido de nuevo, {{user.email}}</label>
                <button class="btn btn-outline-danger my-2 my-sm-0"  type="submit">LOGOUT</button>
            </form>
        </li>
        {{/if}}
    </ul>
</div>

</nav>