<div class="jumbotron jumbotron-fluid jumbotron-ligth-offer">
    <div class="offer-container">
        <div class="offer-container__controller">
            <h2>Listado de ususarios</h2>
                {{#each listUsers}}
                <ul class="list-group">
                    <li class="list-group">
                        <h4>{{email}}</h4>
                    </li>
                </ul>
                <hr>
                {{/each}}
        </div>
    </div>
</div>