<div class="jumbotron jumbotron-fluid ">
    <div>
        <div><h1>Ha ocurrido un error</h1></div>
    <a href="/">
    <button class="btn btn-dark">Volver a inicio</button>
    </a>
    <div><p>{{error.name}}</p></div>
    <div><p>{{error.message}}</p></div>
    </div>
