
<div class="index-container">
        {{#if message}}
        <p> {{message}}</p>
        {{/if}}

            <div class="jumbotron jumbotron-fluid">
                <div class="home-container__section-title">
                    <h1>Job Offer</h1>
                </div>
                <div class="home-container__section-sub-title">
                    <h2>Encuentra un trabajo</h2>
                </div>
                <div class="home-container__job-link">
                    <a href="/job/offers">
                    <button class="btn btn-dark btn-lg" >Ofertas de trabajo</button>
                    </a>
                </div>
                <div class="home-container__admin-linl">
                    {{#if user}}
                        <a href="/manage/offers">
                        <button class="btn btn-light btn-lg">Administrar ofertas</button>
                        </a>
                    {{/if}}
                </div>
            </div>
</div>
