
<div class="jumbotron jumbotron-fluid jumbotron-ligth-offer">
    <div class="offer-container">
        <div class="offer-container__controller">
            <h2>Ofertas de trabajo</h2>
            {{#unless jobOffersBySalary}}
                <form action="/job/salary/" method="GET">
                    <div class="form-group form-group__filter">
                        <label class="form-group__filter-labe" for="salary">Salario minimo:</label>
                        <input class="form-control form-control-filter"  type="number" name="salary" id="salary" min="0" max="100000" step="5000">
                        <button type="submit"  class="btn btn-dark btn-filter">Filtrar</button>
                    </div>
                </form>
        </div>
        <div class="offer-container__list-container">
                {{#each jobOffers}}
                <ul class="list-group">
                    <li class="list-group">
                        <h4><a class="link-danger" href="/job/detail/{{_id}}">{{title}}</a></h4>
                        <p>Empresa: {{company}}</p>
                    </li>
                </ul>
                <hr>
                {{/each}}
        </div>
        {{/unless}}

        {{#if jobOffersBySalary}}
        <div class="form-group form-group__filter">
            <a href="/job/offers">
                <button class="btn btn-dark"> Quitar filtro</button>
            </a>
        </div>
        <div class="offer-container__list-container">
                {{#each jobOffersBySalary}}
                <ul class="list-group">
                    <li class="list-group">
                        <h3><a class="link-danger" href="/job/detail/{{_id}}">{{title}}</a></h3>
                        <p>Empresa: {{company}}</p>
                    </li>
                    <hr>
                </ul>
                {{/each}}
        </div>
        {{/if}}
    </div>
</div>