
{{#if user}}
</div>
<div class="jumbotron jumbotron-fluid jumbotron-ligthgrey">
    <div class="new-offer-container">
        <div class="home-container__admin-linl"></div>
{{#if admin}}
    <a href="/admin/users">
    <button class="btn btn-light btn-xs">Ver usuarios</button>
    </a>
 {{/if}}
 {{#unless admin}}
        <div class="new-offer-container__form">
            <span class="new-offer-container__title"><h3>Crear nueva oferta</h3></span>
            <form class="form" action="/job/create" method="POST" enctype="multipart/form-data">
                <div class="form-container">
                    <label for="contactEmail">Email de contacto</label>
                    <input class="form-control" type="text" id="contactEmail"
                        name="contactEmail">
                </div>
                <div class="form-container">
                    <label for="title">Titulo</label>
                    <input class="form-control" type="text" id="title" name="title">
                </div>
                <div class="form-container">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" type="text" id="description"
                        name="description" cols="30" rows="2"></textarea>
                </div>
                <div class="form-container">
                    <label for="salary">Salario</label>
                    <input class="form-control" type="number" id="salary"
                        name="salary">
                </div>
                <div class="form-container">
                    <label for="company">Empresa</label>
                    <input class="form-control" type="text" id="company"
                        name="company">
                </div>
                <div class="form-container">
                    <label for="image">Logo</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>
                <button type="submit" class="btn btn-dark">Crear</button>
            </form>
        </div>
{{/unless}}
    </div>
    <div class="manage-offers-container">
        <span class="manage-offers-container__title"><h3>Gestionar mis ofertas</h3></span>
        <div class="manage-offers-container__list">
            {{#each jobOffers}}
            <ul class="list-group list-group">
                <li class="list-group">
                    <span class="list-group-iten"><h4 class="fs-4">{{title}}</h4></span>
                    <span class="list-group-iten"><p class="fs-6">Descripción: {{description}}</p></span>
                    <span class="list-group-iten"><p class="fs-6">Empresa: {{company}}</p>
                    {{#if image}}
                <img src="{{image}}" alt="{{company}}" width="50">
                {{/if}}</span>
                    <span class="list-group-iten"><p class="fs-6">Contacto: {{contactEmail}}</p></span>
                    <form action="/job/delete/{{_id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Borrar
                            oferta</button>
                    </form>
                    <form action="/manage/modify/{{_id}}" method="GET">
                        <button type="submit" class="btn btn-dark btn-sm">Modificar
                            oferta</button>
                    </form>
                </li>
                <hr>
            </ul>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>
