<div class="jumbotron jumbotron-fluid jumbotron-ligthgrey
    jumbotron-ligthgrey__modify">
    <a href="/manage/offers">
        <button class="btn btn-dark">Volver a las ofetas</button>
    </a>
    <div class="new-offer-container new-offer-container__show">
        <div class="manage-offers-container">
            {{#if user}}
            <h2>Modificar la oferta:</h2>
            {{#with offerDetail}}
            <ul class="list-group list-group">
                <li class="list-group">
                    <span class="list-group-iten">
                        <h3 class="fs-4">{{title}}</h3>
                    </span>
                    <span class="list-group-iten">
                        <p class="fs-6">Empresa: {{company}}</p>
                    </span>
                    <span class="list-group-iten">
                        <p class="fs-6">Descripición: {{description}}</p>
                    </span>
                    <span class="list-group-iten">
                        <p class="fs-6">Salario: {{salary}}</p>
                    </span>
                    <span class="list-group-iten">
                        <p class="fs-6">Contacto: {{contactEmail}}</p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="new-offer-container__form
                new-offer-container__form-modify">
            <form class="form" action="/manage/edit/?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-container">
                    <label for="title">Titulo</label>
                    <input class="form-control" type="text" id="title" name="title" value={{title}}>
                </div>
                <div class="form-container">
                    <label for="company">Empresa</label>
                    <input class="form-control" type="text" id="company" name="company" value={{company}}>
                </div>
                <div class="form-container">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" type="text" id="description" name="description" cols="30" rows="5">{{description}}</textarea>
                </div>
                <div class="form-container">
                    <label for="salary">Salario</label>
                    <input class="form-control" type="number" id="salary" name="salary" value={{salary}}>
                </div>
                <div class="form-container">
                    <label for="contactEmail">Email de contacto</label>
                    <input class="form-control" type="text" id="contactEmail" name="contactEmail"
                        value={{contactEmail}}>
                </div>
                <div class="form-container">
                    <label for="image">Logo</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>
                <input class="form-control" type="hidden" id="id" name="id" value={{_id}}>
                <button type="submit" class="btn btn-danger">Modificar</button>
            </form>
        </div>
    </div>
    {{/with}}
    {{/if}}
</div>