

<div class="jumbotron jumbotron-fluid jumbotron-ligth-offer">
    <div class="offer-container">
            <a href="/job/offers">
            <button class="btn btn-dark">Volver a las ofetas</button>
            </a>
        <div class="offer-container__controller">
                <h3>{{offerDetail .title}}</a></h3>
                {{#if offerDetail.image}}
                <img src="{{offerDetail.image}}" alt="{{offerDetail.company}}" width="200">
                {{/if}}
                <p>Empresa: {{offerDetail.company}}</p>
                <p>Descripición: {{offerDetail.description}}</p>
                <p>Salario: {{offerDetail.salary}}</p>
                <p>Contacto: {{offerDetail.contactEmail}}</p>
        </div>
    </div>
</div>