
<div class="jumbotron jumbotron-fluid ">
    <div>
        <h2>Registro</h2>
    </div>

    <div class="form-container form-container__width">
        <form class="form" action="/auth/register" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-dark">ENVIAR</button>
        </form>
    </div>
{{#if error}}
    <div class="error">
        {{error}}
    </div>
{{/if}}
</div>
