    @import "../../node_modules/bootstrap/scss/bootstrap";
    @import "../../node_modules/bootstrap/scss/variables";
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .navbar {
        background-color: $white;
        border-bottom: 1px solid $red;
        &__img {
            width: 130px;
            height: auto;
        }
    }
    
    .form-control.mr-sm-2 {
        border: none;
    }
    
    .btn.btn-outline-success {
        color: $red;
        border-color: $red;
    }
    
    .index-container,
    .jumbotron.jumbotron-fluid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
        background-color: $red-500;
    }
    
    .home-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__job-link {
            margin: 20px 0;
        }
    }
    
    .jumbotron.jumbotron-fluid.jumbotron-ligth-offer {
        margin: 0;
        padding-top: 30px;
        background-color: $red-200;
        position: relative;
    }
    
    .offer-container {
        width: 80%;
        height: 450px;
        display: flex;
        justify-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        &__controller {
            position: sticky;
        }
        &__list-container {
            height: 400px;
            overflow-y: scroll;
        }
    }
    
    .form-group {
        width: 100%;
        &__filter {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            ;
        }
        &__filter-label {
            width: 15%;
            text-align: right;
        }
    }
    
    .form-control.form-control-filter,
    .btn-filter {
        width: auto;
        height: 20%;
    }
    
    .filter-container {
        margin-bottom: 20px;
    }
    
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        &__width {
            width: 30%;
        }
    }
    
    .form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    .error {
        margin-top: 20px;
        color: $white;
    }
    
    .jumbotron.jumbotron-fluid.jumbotron-ligthgrey {
        width: 100%;
        background-color: $red-100;
        margin: 0;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 30px;
        &__modify {
            flex-direction: column;
            align-items: center;
            padding: 2% 5%;
        }
    }
    
    .new-offer-container {
        width: 40%;
        height: auto;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__show {
            width: 80%;
            height: 650px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: space-between;
            margin-top: 10px;
        }
    }
    
    .manage-offers-container {
        width: 40%;
        &__title {
            margin-bottom: 20px;
        }
        &__list {
            height: 350px;
            margin-top: 30px;
            overflow-y: scroll;
        }
    }
    
    .list-group-iten {
        overflow-wrap: break-word;
    }
    
    .btn {
        margin-top: 5px;
    }
    
     ::-webkit-scrollbar {
        width: 8px;
    }
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #fff;
        -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
    }